/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bitter&family=Manrope&family=Nosifer&display=swap');

/* 
font-family: 'Abril Fatface', serif;
font-family: 'Bitter', serif;
font-family: 'Manrope', sans-serif;
font-family: 'Nosifer', sans-serif; 
*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

bod {
	background-image: url(images/skull-1867707_1280.jpg);
}

.H, p {
	background-color: whitesmoke;
	color: black;
}

.story h2{
	color: black;
	text-align: left;
	padding-left: 3em;
}

h1, h3 {
	background-image: url(images/skull-1867707_1280.jpg);
    background-color:#305296;
    text-align: center;
    color: #ffffff;
	font-family: 'Nosifer', sans-serif; 
}


.calendar {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	text-align: left;
	background-color: rgb(255, 115, 0);
}

.day {
	padding: 10px;
	border: 1px solid #ccc;
}

.header {
	font-weight: bold;
}

.today {
	background-color: #ffcccb;
}

.menus {
	background-image: url(images/skull-1867707_1280.jpg);	
	grid-area: menus;
	display:flow-root;
	list-style-type:none;
	text-decoration: none;
	flex-direction: column;
	justify-content: start;
	text-align: center;
}
  
  .menus div {
	  display: inline-flex;
	  font-size: 1.3em;
	  widt: 15%;
	  paddin: 1% 1%;
	  padding-top: .5em;
	  padding-left: 1%;
	  padding-right: 1.2em;
	  margin: auto;
	  background-colo: #747272;

  }
  
  .box1 {
	  color: #fff;
  }
  
  .menus nav{
	  widt: 100%;
  }
  
  nav li a{
	  color: #fff;
	  text-decoration: none;
	  list-style-type: none;
  }
  
  section {
	  color: #e4f2ea;
  }

main p {
	padding: 0 2%;
	margin: 0 2%;
	text-align: center;
	background-color: rgb(256, 256, 256, 70%);
	font-size: 1.2em;
	padding-top: auto;
	border-radius: 15px;
}

.story {
	color: #111;
}

.iimg {
	background-image: url(images/skull-1867707_1280.jpg);	
}

.himg {
	background-image: url(images/hands-984032_1280.jpg);	
}

 .story {
    color: white;
}
footer {
    clear: left;
	margin: auto;
	background-color: #111;
}

h4, h5, h6 {
	background-color: #111;
	color: white;
}

h3 {
	font-family: 'Abril Fatface', serif;
}

table {
	margin: 0 auto;
}

input {
	padding: 2px 0;
	background-color: #ccc;
}

form {
	background-color: #8e94ba;
	width: 50%;
	margin: 0 auto;
	font-size: 1.5em;
	border-radius: 10px;
}

.btn {
	font-size: .7em;
	padding: 2px 5px;
	border: 2px solid #111;
	border-radius: 5px;
}


blockquote {
	font-size: 3em;
	text-align: center;
	padding: 1%;
}

footer {
    background-color: #305296;
    text-align: center;
}

.form-style-6{
	font: 95% Arial, Helvetica, sans-serif;
	max-width: 400px;
	margin: 10px auto;
	padding: 16px;
	background: #F7F7F7;
}
.form-style-6 h1{
	background: #8e94ba;
	padding: 20px 0;
	font-size: 140%;
	font-weight: 300;
	text-align: center;
	color: #fff;
	margin: -16px -16px 16px -16px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }